body{
    background-image: url(./images/space-background_width-800-px.jpg);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 18px;
}

.textblock{
    background-color: rgba(255,255,255,0.75);
    padding: 20px;
    margin: 20px;

}


p{
    text-align: justify;
    margin: 10px;
}

a{
    color: #800;
    font-weight: bold;
    text-decoration: underline;
}

a:hover{
    color: #080;
}